{{ define "main" }}
  <h1>Mes projets</h1>
  <div class="project-list">
    {{ range .Pages }}
      <a class="project-item" href="{{ .Permalink }}">
        {{ $thumb := .Params.thumbnail }}
        {{ if hasPrefix $thumb "http" }}
          <!-- Si l'image est une URL externe, on la charge directement -->
          <img class="project-thumb" src="{{ $thumb }}" alt="{{ .Title }}" loading="lazy">
        {{ else }}
          {{ with .Resources.GetMatch $thumb }}
            <!-- Si l'image est locale, redimensionner et convertir en WebP -->
            {{ $thumbWebp := .Resize "600x webp" }} <!-- Redimensionne et convertit en WebP -->
            <img class="project-thumb" src="{{ $thumbWebp.RelPermalink }}" alt="{{ $.Title }}" loading="lazy">
          {{ end }}
        {{ end }}
        <div>
          <h2>{{ .Title }}</h2>
          <p>{{ .Summary }}</p>
        </div>
      </a>
    {{ end }}
  </div>
{{ end }}
